input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type="number"]::-ms-clear {
    display: none;
}

.input {
    width: 48px;
    height: 28px;

    font-family: inherit;
    text-align: center;

    border: 1px solid var(--black);
    border-radius: 20px;
}