:root {
    --blue: #005bff;
    --white: #fff;
    --black: #070707;

    font-family: "Mulish", sans-serif;
}

body,
#app {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    max-width: 36rem;
    margin: 0 auto;
}

@media (min-width: 600px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
}