.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.header {
    margin: 0;
    align-self: flex-start;
    font-size: 16px;
    color: var(--black);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 96px;
    margin: 60px;

    @media (orientation: landscape) {
        flex-direction: row;
        justify-content: center;
        gap: 80px;
        margin: 60px;
    }
}

.controls {
    display: flex;
    flex-direction: column;
    padding-right: 12px;
    gap: 12px;
    font-weight: 600;
}